
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}


.titulo h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#ffffff; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #000000;
}

.titulo h1 span {
    margin-top: 5px;
      font-size:15px; color:#bebebe; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
}

.titulo h1 span:after,.titulo h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#000000;
}

.menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: fit-content;
}
li {
    display: inline-block;
    text-align: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

.slider-container {
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.slider-container img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.slider-container img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

 
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
.btn-2 {
    background: rgb(41, 40, 40);
    background: linear-gradient(0deg, rgb(41, 40, 40) 0%, rgb(41, 40, 40) 100%);
    border: none;
  }
  
.btn-2:before {
    height: 0%;
    width: 2px;
  }
  
.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

#video{
    margin:auto;
    display: block;
}


